{% assign page = include.page %}

<header>
    <div class="panel">
        <h1>
            {% if include.link %}
            <a class="post-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            {% else %}
            {{ page.title }}
            {% endif %}
        </h1>

        {% include article-header-line.html post=page %}
    </div>

    {% if site.share_buttons and include.share != false %}
    <div style="margin-top: 1em;">
        {% include share-buttons.html page=page %}
    </div>
    {% endif %}

    {% if include.eye_catch != false and page.eye_catch %}
    <div class="eye-catch">
        <p>
            <img src="{{ page.eye_catch }}"/>
        </p>
    </div>
    {% endif %}
</header>
