{% assign post = include.post %}

<p>Let me know what you think about this post in the comments below. If you need help then please use the <a href="http://badlogicgames.com/forum/" target="_blank">forum</a> instead.
If you found an issue with this post then please report an <a href="https://github.com/xoppa/xoppa.github.io/issues" target="_blank">issue</a> or send a
<a href="https://github.com/xoppa/xoppa.github.io/pulls">pull request</a>.</p>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'blogxoppacom';
        
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

