<!DOCTYPE html>
<html lang="en">
<head>
    {% capture title %}{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}{% endcapture %}

    {% include page-url-resolver.html page=page %}

    {% if page.excerpt %}
    {% assign description = page.excerpt | strip_html | strip_newlines | truncate: 160 %}
    {% else %}
    {% assign description = site.description %}
    {% endif %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/assets/img/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
	<link rel="manifest" href="/assets/img/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/assets/img/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

    <title>{{ title }}</title>

    <meta name="description" content="{{ description }}">

    <link rel="shortcut icon" href="{{ '/favicon.ico' | prepend: site.baseurl }}" type="image/x-icon">
    <link rel="canonical" href="{{ url }}">
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}" />

    {% if page.eye_catch %}
    {% assign ogp_image_url = page.eye_catch %}
    {% else %}
    {% assign ogp_image_url = site.ogp.image_url %}
    {% endif %}

    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ ogp_image_url }}" />
    <meta property="og:url" content="{{ url }}" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="fb:admins" content="{{ site.ogp.fb.admin }}" />
    <meta property="fb:app_id" content="{{ site.ogp.fb.app_id }}" />
    <meta property="og:description" content="{{ description }}" />

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700italic,400italic" rel="stylesheet">

    <link href="{{ '/assets/lib/easy-social-buttons/jquery.easy-social-buttons.css' | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ '/assets/css/style.css' | prepend: site.baseurl }}" rel="stylesheet">
</head>
<body>

<header class="site-header">
    <div class="inner clearfix">
        {% if site.avatar %}
        <a href="{{ '/' | prepend: site.baseurl }}">
            <img class="avatar" src="{{ site.avatar | prepend: site.baseurl }}" alt=""/>
        </a>
        {% endif %}
        <h1 class="clearfix">
            <a class="title {% if site.avatar == null %}slim{% endif %}" href="{{ '/' | prepend: site.baseurl }}">{{ site.title }}</a>
            <p class="description">{{ site.description }}</p>
        </h1>
    </div>
</header>

<div class="site-container">
    <div class="site-content">
        {{ content }}
    </div>

    <aside class="site-aside">
        <div class="inner">
			<div class="block">
                <form action="{{ site.baseurl }}/search">
                    <input type="search" id="search" name="q" placeholder="{{ site.str_search }}" />
                </form>
            </div>
            <ul>
                {% assign pages = (site.pages | sort: 'order') %}
                {% for page in pages %}
                {% if page.title and page.hide != true %}
                <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
            <ul class="icons">
                {% include icons.html icons=site.icons %}
            </ul>
            <hr class="with-no-margin margin-bottom"/>

		 <h1>libGDX 3D tutorials</h1>
		 <ol>
			<li><a href="https://xoppa.github.io/blog/basic-3d-using-libgdx">1. Basic 3D using libGDX</a></li>
			<li><a href="https://xoppa.github.io/blog/loading-models-using-libgdx">2. Loading models using libGDX</a></li>
			<li><a href="https://xoppa.github.io/blog/loading-a-scene-with-libgdx">3. Loading a scene with libGDX</a></li>
			<li><a href="https://xoppa.github.io/blog/behind-the-3d-scenes-part1">4. Behind the 3D scenes - part1</a></li>
			<li><a href="https://xoppa.github.io/blog/behind-the-3d-scenes-part2">5. Behind the 3D scenes - part2</a></li>
			<li><a href="https://xoppa.github.io/blog/creating-a-shader-with-libgdx">6. Creating a shader with libGDX</a></li>
			<li><a href="https://xoppa.github.io/blog/using-materials-with-libgdx">7. Using materials with libGDX</a></li>
			<li><a href="https://xoppa.github.io/blog/3d-frustum-culling-with-libgdx">8. 3D frustum culling with libGDX/</a></li>
			<li><a href="https://xoppa.github.io/blog/interacting-with-3d-objects">9. Interacting with 3D objects</a></li>
			<li><a href="https://xoppa.github.io/blog/using-collision-shapes">10. Using collision shapes</a></li>
			<li><a href="https://xoppa.github.io/blog/using-the-libgdx-3d-physics-bullet-wrapper-part1">11. Using the libgdx 3D physics bullet wrapper - part1</a></li>
			<li><a href="https://xoppa.github.io/blog/using-the-libgdx-3d-physics-bullet-wrapper-part2">12. Using the libgdx 3D physics bullet wrapper - part2</a></li>
		 </ol>

            <div class="block sticky">
                <h1>{{ site.str_recent_posts }}</h1>
                <ul>
                    {% assign posts = (site.posts | sort: 'date' | reverse) %}
                    {% for post in posts limit:site.recent_posts_num %}
                    <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Blog right -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-4935361429687281"
     data-ad-slot="7705666855"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
            </div>
        </div>
    </aside>
</div>

<footer class="site-footer">
    <div class="inner">
        <span>Powered by <a href="http://jekyllrb.com">Jekyll</a> with <a href="https://github.com/qckanemoto/jekyll-qck-theme">QckTheme</a></span>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ '/assets/lib/garand-sticky/jquery.sticky.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/lib/easy-social-buttons/jquery.social-info.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/lib/easy-social-buttons/jquery.easy-social-buttons.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/script.js' | prepend: site.baseurl }}"></script>

{% if page.id %}
<script src="{{ '/assets/js/header-link.js' | prepend: site.baseurl }}"></script>
{% endif %}

{% if page.permalink == '/search/' %}
<script src="{{ '/assets/js/search.js' | prepend: site.baseurl }}"></script>
{% endif %}

{% include google-analytics.html %}

</body>
</html>
