---
layout: blog
---

<div class="article-wrapper">
    <article>
        {% include article-header.html page=page link=false share=page.share %}
        <section class="post-content">
            {{ content }}
        </section>
        {% include article-footer.html share=page.share eye_catch=true %}
    </article>
</div>

<div class="bottom_leaderboard_ad">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Blog bottom leaderboard -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-4935361429687281"
     data-ad-slot="9182400054"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

<section class="comments">
    {% include disqus.html %}
</section>
